//
// Bootstrap-4-grid customize
//

// col é–“è·
@mixin gutter($gutters) {
  margin-right: -($gutters/2);
  margin-left: -($gutters/2);
  > [class^='col'] {
    padding-right: ($gutters/2);
    padding-left: ($gutters/2);
  }
}

// col negative-margin
@mixin col-nm($gutters) {
  margin-right: -($gutters/2);
  margin-left: -($gutters/2);
}
