extends partial/_layout.pug
block content
  section.mb-xl-6
    .container.px-xl-4
      .row.justify-content-center
        //- main
        .col-12.col-xl-6
          form.m-form.h-col-md-nm(action='')
            .m-form__header.p-3
              .row.no-gutters
                .col-6 
                  h3.h-fz-t1 付款
                .col-6
                  ul.e-progressbar.h-100
                    li.e-progressbar__step.is-finish
                      i.material-icons
                        | done
                    li.e-progressbar__step.is-active
                      i.material-icons
                        | done
                    li.e-progressbar__step
                      i.material-icons
                        | done
            .m-form__content.mb-3
              .row.h-gutter-s1
                .col-12.mb-1
                  label.m-form__label.mb-s1 信用卡卡號
                  .e-form-square
                    input.e-form-square__input.pl-2(type='text', name='credit', placeholder='9012-3456-7890-1234')
                    i.e-form-square__icon.material-icons
                      | credit_card
                .col-12
                  label.m-form__label.mb-s1 持卡人姓名
                .col-6.mb-1
                  input.m-form__control(type='text', name='credit-last-name', placeholder='王')
                .col-6.mb-1
                  input.m-form__control(type='text', name='credit-firstname', placeholder='小明')
                .col-12
                  label.m-form__label.mb-s1 有效期限
                .col-6
                  select.m-form__control(name='validity-period-month')
                    option(disabled='disabled', selected='selected') 月
                    option(value='1') 一月
                    option(value='2') 二月
                    option(value='3') 三月
                    option(value='4') 四月
                    option(value='5') 五月
                .col-6
                  select.m-form__control(name='validity-period-year')
                    option(value='年', disabled='disabled', selected='selected') 年
                    option(value='2020') 2020
                    option(value='2021') 2021
                    option(value='2022') 2022
                    option(value='2023') 2023
                .col-6.mt-1
                  label.m-form__label.mb-s1 背面末三碼
                  input.m-form__control(type='text', name='credit-lastnum', placeholder='123')
            a.e-btn.e-btn_success(href="checkout-3.html") 下一步

        //- main end

        //- sub
        .col-xl-4.d-none.d-xl-block
          .m-list.h-bd-solid-1.mb-2
            h3.m-list__title 訂單摘要
            .m-list__text.p-1
              p
                | 小計
                span NT$ 2316
              p
                | 運費
                span NT$ 100
              p.m-list__total
                | 總計
                span NT$ 2416

          .m-list.h-bd-solid-1
            h3.m-list__title 購物清單
            ul.m-cart.pt-1.px-1
              li.m-cart__item.mb-1
                .row
                  .col-6
                    .m-cart__image.m-cart__image_size_sm(style="background-image: url('img/product/product8.jpg')")
                  .col-6
                    .m-cart__text.h-100
                      p 草莓牛奶湯
                        span.pl-s1 (1)
                      p.m-cart__price NT$ 150
              li.m-cart__item.mb-1
                .row
                  .col-6
                    .m-cart__image.m-cart__image_size_sm(style="background-image: url('img/product/product2.jpg')")
                  .col-6
                    .m-cart__text.h-100
                      p 就草莓蛋糕
                        span.pl-s1 (1)
                      p.m-cart__price NT$ 666

              li.m-cart__item.mb-1
                .row
                  .col-6
                    .m-cart__image.m-cart__image_size_sm(style="background-image: url('img/product/product7.jpg')")
                  .col-6
                    .m-cart__text.h-100
                      p 好像鬆餅
                        span.pl-s1 (1)
                      p.m-cart__price NT$ 1500


