footer.l-footer
  //- subscription 
  .h-bg-primary
    .container.px-xl-4.p-3
      .row.no-gutters.justify-content-center
        .col-12.col-md-5.d-flex.justify-content-center.justify-content-md-start.align-items-center.mb-3.mb-md-0
          img.mr-2(src='img/logo/logo-light.svg', alt='', width='40')
          h3.h-text-white 訂閱你我們甜蜜郵件
        .col-12.col-md-5
          .e-form-square
            i.e-form-square__icon.material-icons
              | email
            input#email.e-form-square__input(type='email', name='email')
            button.e-form-square__button
              i.material-icons
                | arrow_forward
  //- subscription end

  //- footer
  .h-bg-light.py-3
    .container.px-3.px-xl-4
      .row.no-gutters.justify-content-center.mb-3
        .col-md-5.d-flex.flex-column.justify-content-between
          h1.h-hide-text.mb-4.mb-xl-0
            a(href='index.html')
              img(src='img/logo/logotype.svg', alt='六角甜點工坊', width='172')
            |           六角甜點工坊
          ul.l-footer__connection
            li 07-1234-5678
            li sweetaste@email.com
            li 800 高雄市新興區幸福路 520 號
        .col-md-5
          h3.e-title.e-title_vrl.d-none.d-md-block.w-100
            | 今天是個―― 
            span 吃甜點的好日子。
      .row.no-gutters.justify-content-center.align-items-end
        .col-md-5.mb-2.mb-xl-0
          .l-footer__icons.h-fz-t2
            a(href='')
                img.e-img(src='img/icon/ic-line@.svg', width='32', alt='')
            a(href='')
              img.e-img(src='img/icon/ic-facebook.svg', width='32', alt='')
        .col-md-5.d-flex
          p.l-footer__corporation
            | © 2018 Sweetaste* All Rights Reserved
            br
            a.h-fz-s1(href='https://xd.adobe.com/spec/934efdb7-a7e4-47d5-572e-efece0914f62-e57f/', target='blank') 設計稿
            | ｜
            a.h-fz-s1(href='https://chupainotebook.blogspot.com/', target='blank') 竹白切版練習


  //- footer end

