header
  //- navbar
  nav.m-navbar.js-m-navbar.h-bg-white
    .container.px-0.px-xl-4
      .m-navbar__button.js-m-navbar__button.d-xl-none
        .m-navbar__button-open
        .m-navbar__button-close
      h1.h-hide-text
        | 六角甜點工坊
        a(href='index.html')
          img.d-none.d-xl-block(src='img/logo/logo-all-dark.svg', alt='六角甜點工坊', width='220')
          img.d-xl-none(src='img/logo/logotype-sm-dark.svg', alt='六角甜點工坊', width='115')
      ul.m-navbar__list.js-m-navbar__list.ml-auto
        li
          a.m-navbar__link(href='index.html') 首頁
        li
          a.m-navbar__link(href='products.html') 甜點
        li
          a.m-navbar__link(href='login.html') 登入
      a.m-navbar__link(href='carts.html')
        i.material-icons
          | shopping_cart
  //- navbar end

